<html>
<head>
    <title>Odinson Rule Development UI</title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/jquery.dataTables.min.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="assets/brat/static/style-vis.css"/> -->
    <!-- <script type="text/javascript" src="assets/brat/client/lib/head.load.min.js"></script> -->
    <script type="text/javascript" src="assets/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/dev.js"></script>
</head>

<body>
<h1>Odinson Rule Development UI</h1>

<div id="overlay">
    <div id="loading">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/loading.svg"><br />
        Reading text...
    </div>
</div>

<form>

    <label for="rules">Rules:</label>
    <textarea id="rules" rows="10" cols="100">
vars:
  result: "(?<result> [tag=/J.*/]{,3} [tag=/N.*/]+ (of [tag=DT]? [tag=/J.*/]{,3} [tag=/N.*/]+)?)"

rules:
  - name: example-rule
    type: basic   # or event
    pattern: |
      (?<A> [] ) (?<B> [] ) (?<C> [] )    (?<init> issues)
    </textarea>
    <br>
    <input type="submit">
</form>

<table id="results" class="display" width="100%">
    <caption id="tablecaption"></caption>
</table>

</body>
</html>
