<html>
<head>
    <title>Odinson Rule Development UI</title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="assets/plugins/codemirror/lib/codemirror.css">
    <script type="text/javascript" src="assets/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/jquery.dataTables.min.js"></script>
    <script src="assets/plugins/codemirror/lib/codemirror.js"></script>
    <script src="assets/plugins/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="assets/plugins/codemirror/addon/edit/closebrackets.js"></script>
    <script src="assets/plugins/codemirror/addon/comment/comment.js"></script>
    <script src="assets/plugins/codemirror/mode/yaml-odinson/yaml-odinson.js"></script>
<!--    <script src="assets/plugins/codemirror/mode/yaml/yaml.js"></script>-->
    <script type="text/javascript" src="assets/javascripts/dev.js"></script>


</head>

<body>
<h1>Odinson Rule Development UI</h1>

<div id="overlay">
    <div id="loading">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/loading.svg"><br />
        Reading text...
    </div>
</div>

<form>

    <label for="rules">Rules:</label>
    <textarea id="rules" class="codemirror-textarea" rows="10" cols="100">
vars:
  chunk: "([tag=/J.*/]{,3} [tag=/N.*/]+ (of [tag=DT]? [tag=/J.*/]{,3} [tag=/N.*/]+)?)"
  variable: "(?<variable> [word = /[A-Z]{2,4}/])"

rules:
  - name: example-rule
    type: event
    pattern: |
       trigger = represents
       var = >nsubj ${variable}
       def = >dobj ${chunk}

    </textarea>
    <br>
    <input type="submit">
</form>

<table id="results" class="display" width="100%">
    <caption id="tablecaption"></caption>
</table>

</body>
</html>
