<html>
<head>
    <title>Odinson Rule Development UI</title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="assets/plugins/DataTables/colReorder.css">
    <script type="text/javascript" src="assets/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/jquery.dataTables.min.js"></script>
    <script src="assets/plugins/DataTables/colReorder.js"></script>
    <script type="text/javascript" src="assets/javascripts/dev.js"></script>


</head>

<body>
<h1>Odinson Rule Development Simple UI</h1>
<!--new rule-->

<!--3 panes-->
<div id="overlay">
    <div id="loading">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/loading.svg"><br />
        Reading text...
    </div>
</div>

<form>
    <h2>Develop Rule:</h2>
    <p> rule name: <input type="text" value="example-rule"> </p>
    <table class="svo">
        <tr class="pad-top">
            <th> </th>
            <th> <p> Label </p> </th>
            <th> <p> Word(s) </p> </th>
            <th> req </th>
            <th> opt </th>
        </tr>
        <tr class="pad">
            <th > subject </th>
            <th> <p> <input type="text" value="subject"> </p> </th>
            <th> <p> <input type="text" value=""> </p> </th>
            <th>
                <input type="radio" value="required" name="subj_radio" checked>
            </th>
            <th>
                <input type="radio" value="optional" name="subj_radio">
            </th>
        </tr>
        <tr class="pad">
            <th> verb </th>
            <th> <p> <input type="text" value="verb"> </p> </th>
            <th> <p> <input type="text" value=""> </p> </th>
            <th>
                <input type="radio" value="required" name="v_radio" checked>
            </th>
            <th>
                <input type="radio" value="optional" name="v_radio">
            </th>
        </tr>
        <tr class="pad">
            <th> object </th>
            <th> <p> <input type="text" value="object"> </p> </th>
            <th> <p> <input type="text" value=""> </p> </th>
            <th>
                <input type="radio" value="required" name="obj_radio" checked>
            </th>
            <th>
                <input type="radio" value="optional" name="obj_radio">
            </th>
        </tr>
    </table>



    <br>
    <input class="submitbutton" type="submit" value="SUBMIT">
</form>

<!--extractions table at the bottom-->
<table id="results" class="display svo" width="100%">
    <caption id="tablecaption"></caption>
</table>

</body>
</html>
